<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <system.webServer>
<staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
   <httpProtocol>
     <customHeaders>
		 <clear />
		 <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, HEAD, OPTIONS, AUTHORIZATION" />
		 <add name="Access-Control-Allow-Credentials" value="true"/>
		 <add name="Access-Control-Allow-Headers" value="X-Requested-With, origin, content-type, accept, authorization" />
     </customHeaders>
   </httpProtocol>
        <rewrite>
            <rules>
                <rule name="RedirectToHTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" />
                </rule>
            </rules>
        </rewrite>
 </system.webServer>
    <system.web>
        <sessionState timeout="300" />
    </system.web>
</configuration>