/* You can add global styles to this file, and also import other style files */
body, html {
  font-family: 'Lato',Helvetica,sans-serif;
}

sidebar{
overflow: visible !important;
}
.card-block{
  padding: 0!important;
}
h4 {
  font-weight: 700;
  letter-spacing: 2px;
}
.card-header a {
  display: block;
  font-size: 10pt;
  box-sizing: border-box;
  border-radius: none !important;
  font-weight: 400;
  transition: .2s;
  color: #6E7490!important;
}
.card-header i {
  padding-left: 5px;
  position: relative;
  top: 2px;
}


/*
=========
=========
=========
Mitch Styles 10/10
=========
=========
=========
*/


p{
font-size: 10.5pt !important;
  font-weight: 300 !important;
  letter-spacing: -0.3px !important;
  line-height: 22px !important;
}
ul{
list-style-type: disc !important;
margin: auto !important;
padding: 0 20px !important;
}

/*Nav Bar*/
.wim-nav{
height: 50px !important;
text-align: center !important;
}
.nav-title{
height: 50px !important;
font-size: 16px !important;
font-weight: 500 !important;
letter-spacing: -0.25px !important;
line-height: 16px !important;
}
.nav-branding img{
height: 28px !important;
}

/*Side Bar*/
.wim-sidebar{
margin-top: 50px !important;
padding: 10px 10px 0 10px !important;
width: 240px !important;
background-color: #F9FAFB !important;
}


.card-header{
padding: 0 !important;
border-radius: 0 !important;
border-top-left-radius: 0 !important;
border-top-right-radius: 0 !important;
border-bottom-left-radius: 0 !important;
border-bottom-right-radius: 0 !important;
border-bottom: none !important;
background-color: #F9FAFB !important;
}

.card-header a{
padding: 11px !important;
transition: 0.2s;
box-sizing: border-box;
letter-spacing: 0.5px;
text-transform: uppercase;
font-weight: 800 !important;
font-size: 11px !important;
letter-spacing: 0.5px !important;

}

.card-header a:hover{
text-decoration: none !important;
background-color: #fff !important;
transition: 0.2s;
color: #0F8AFF !important;
}

.card{
border-radius: 0 !important;
border: none !important;
}

.identification{
font-size: 10px !important;
font-weight: 800 !important;
}

.card-body{
background-color: #F9FAFB !important;
padding: 0 !important;
}

.list-group-body{
box-shadow: none !important;
padding: 10px 10px 10px 10px !important;
border: 1px solid rgba(0,0,0,0.1);
}

.list-group-body p{
color: #6E758F !important;
margin: 0 0 5px 0 !important;
  font-size: 11px !important;
  font-weight: 800 !important;
  letter-spacing: 0.5px !important;
}
.list-group-body div{
line-height: 14px !important;
}

.list-group-body a{
font-size: 11px !important;
font-weight: 500 !important;
letter-spacing: 0.25px !important;
height: auto !important;
line-height: 12px !important;
}
.list-group-body a:hover{
transition: 0.2s;
color: #0F8AFF !important;
}





/*Main Content*/
.container{
display: block;
width: 100%;
margin: 0 !important;
max-width: none !important;
padding: 55px 60px 0 280px;
box-sizing: border-box;
}

code,
p a{
white-space:pre-wrap !important;
break-inside: auto !important;
word-break: break-all !important;
}


.well{
line-height: 1em !important;
}

.fa-check,
.fa-warning{
float: right !important;
  position: relative !important;
  top: 23px !important;
  left: -5px !important;
}

#resourceDescription .well{
font-size: 12px !important;
line-height: 16px !important;
letter-spacing: 0.25px !important;
}
#resourceDescription h4{
font-weight: bolder !important;
font-size: 18px !important;
font-style: normal !important;
text-transform: none !important;
letter-spacing: 0.5px !important;
margin-bottom: 10px !important;
}




@media only screen and (max-width: 800px) {
  .wim-sidebar {
    width: 100% !important;
    height: auto !important;
    position: inherit !important;
    max-width: 300px !important;
    margin: 45px auto 0 auto !important;
  }
  .usgsbanner{
    justify-content: center !important;
  }

  .container{
    padding: 35px !important;
  }
}


.parameters-wrapper{
overflow-x: scroll !important;
}
