/* You can add global styles to this file, and also import other style files */
body, html {
    font-family: 'Lato',Helvetica,sans-serif;
}
  
sidebar{
  overflow: visible !important;
}
.card-block{
    padding: 0!important;
}
h4 {
    font-weight: 700;
    letter-spacing: 2px;
}  
.card-header a {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 10pt;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-weight: 400;
    transition: .2s;
    color: #6E7490!important;
}
.card-header i {
    padding-left: 5px;
}